* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.game-board {
  width: 100%;
  height: 1000px;
  border: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 125px;
  width: 160px;
  animation: pipe-animation 2s linear infinite;
}

.mario {
  width: 300px;
  position: absolute;
  bottom: 120px;
}

.jumpMario {
  animation: jump 600ms ease-out;
}

.clouds {
  width: 100%;
  position: absolute;
  animation: clouds-animation 7s infinite linear;
}

.over {
  width: 1000px;
  position: absolute;
  bottom: 480px;
  right: 50%;
}

.tryagain {
  width: 800px;
  position: absolute;
  bottom: 340px;
  right: 54%;
}

.cronometro {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  z-index: 100;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 100px;
  }

  40% {
    bottom: 400px;
  }

  50% {
    bottom: 400px;
  }

  60% {
    bottom: 400px;
  }

  100% {
    bottom: 100px;
  }
}

@keyframes clouds-animation {
  from {
    right: 0px;
  }
  to {
    right: 100%;
  }
}
